<div id="wrapper">
    <div id="sidebar-wrapper">
		<div id="view_selection"><br><br>
		<h3 class="sidebar-heading">Blockchain Data Visualization</h3><br><br>
			<a ui-sref="artDashboard.fees" id="fees" class="btn">Total Transaction Fees</a><br><br>
			<a ui-sref="artDashboard.miners" id="miners" class="btn">Daily Miners Revenue</a><br><br>
			<a ui-sref="artDashboard.price" id="price" class="btn">Daily Bitcoin Price</a><br><br>
			<a ui-sref="artDashboard.circulation" id="circulation" class="btn">Total Circulation</a><br><br>
			<a ui-sref="artDashboard.dif" id="difficulty" class="btn">Difficulty</a><br><br>
		</div> 
    </div>

    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div ui-view></div>