<div id="main" role="main"><br>
	<h2 class="metric-heading">Total Bitcoins in Circulation</h2>
	 <h3 class="description">A graph showing the historical total number of bitcoins which have been mined.</h3><br>

	   <div class="feeContainer"><br>
		   	<span class="fee circ-low">low</span>
	       	<span class="fee circ-median">medium</span>
	       	<span class="fee circ-high">high</span>
       </div><br>

    <div id="view_selection" class="btn-group"><br>
		<a href="#" id="circAll" class="btn active">All</a>
       	<a href="#" id="circYear" class="btn">Circulation by Year</a>
	   <div id="circVis"></div>
	   <div circulation-data selected-data="selectedData"></div>
   </div>

</div>