<div class="loginRegisterContainer">
	<h1>Register</h1>
	<form ng-submit='addUser()'>
		<div>
			<label>Email</label>
			<input type='email' ng-model='register.email' placeholder='Enter email' required>
		</div>
		<div>
			<label>Password</label>
			<input type='password' id="password1" ng-model='register.password' placeholder='Enter password' minlength=4 maxlength=16 required>
		</div>
		<br />
		<button type='submit' class='btn btn-default'>Submit</button>
		<a class='registerCancel' href='/#/home'>Cancel</a>
	</form>
</div>