<div class="routeContainer">
  <div class="routeContent">
    <div class="logoContainer">
      <div class="welcome">
        <p class="biggie">Welcome to BitCurve.</p>
        <p class="smalls">Where <span class="orange">Bitcoin</span> meets <span class="orange">art</span>.</p>
      </div>
      <img class="fatLogo" src="images/bitcurve-logo-clouds.png">
      <div class="btnContainer">
        <a href="/design">
          <div class="btnLink btnLink-design">
            <p class="btnText btnText-design">Design your own Bitcoin art!</p>
          </div>
        </a>
        <a href="https://github.com/BitCurve/BitCurve">
          <div class="btnLink btnLink-github">
            <img class="gitLogoLight" src="images/github-logo-light.png">
            <p class="btnText btnText-github">View our source on GitHub!</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>