<div class="routeContainer">
  <div class="routeContent">
    <div class="logoContainer">
      <div class="welcome">
        <p class="biggie">Welcome to BitCurve.</p>
        <p class="smalls">Where <span class="orange">Bitcoin</span> meets <span class="orange">art</span>.</p>
      </div>
      <img class="fatLogo" src="images/bitcurve-logo-clouds.png">
      <div class="btnContainer">
        <a href="/#/art-dashboard">
          <div class="btnLink btnLink-design">
            <p class="btnText btnText-design">Design your own Bitcoin art!</p>
          </div>
        </a>
        <a href="https://github.com/BitCurve/BitCurve">
          <div class="btnLink btnLink-github">
            <img class="gitLogoLight" src="images/github-logo-light.png">
            <p class="btnText btnText-github">View our source on GitHub!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="explanationContainer">
      <p class="explanationHeader">What is BitCurve?</p>
      <div class="explanationContent">
        <p class="">BitCurve is an application built to give BitCoin fans a way to neatly display BitCoin data over the years. <br /> <br /> Idk guys I just want something here but it doesn't have to be anything like this.  Let me know what you think..</p>
      </div>
    </div>
    <div class="footer">
      <div class="footContainer">
        <div class="foot leftFoot">
          <div class="footerContent">
            <p class="footHead">
              yeee
            </p>
          </div>
        </div>
        <div class="foot midFoot">
          <div class="footerContent">
            <p class="footHead">
              yeee
            </p>
          </div>
        </div>
        <div class="foot rightFoot">
          <div class="footerContent">
            <p class="footHead">
              yeee
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>