<div class="loginRegisterContainerContainer">
  <div class="loginRegisterContainer">
  	<div class="mini-header">Access your dashboard</div>
  	<form class="form loginForm" ng-submit="login()">
      <div class="emailShiz">
        	<input type="email" ng-model="login.email" placeholder="Email address" required><i class="fa fa-envelope fa-2x"></i>
      </div>
      <div class="passwordShiz">
        	<input type="password" ng-model="login.password" placeholder="Password" required><i class="fa fa-key fa-2x"></i>
      </div>
          <a href=""><div type="submit" ng-click="isLoggedIn(); login()" class="loginRegisterSubmit">Log in</div></a>
      </form>
  </div>
  <div class="dontAlready">
    <a ui-sref="register"><p class="already">I don't have a BitCurve account</p></a>
  </div>
</div>