<div class="aboutContainer">
    <div class="aboutOrange"><p class="about-heading">Learn more about Bitcoin.</p></div>
    <div class="marginContainer">
        <div class="aboutBlue">
        <p class="about-miniHead">I. What is bitcoin?</p>
        <div class="about-content">
        <p>Bitcoin is a new currency that was created in 2009 by an unknown person using the alias Satoshi Nakamoto. Transactions are made with no middle men – meaning, no banks! There are no transaction fees and no need to give your real name. More merchants are beginning to accept them: You can buy webhosting services, pizza or even manicures.</p>
        <p>Bitcoin is a digital, cryptographic, peer-to-peer currency. The money supply is increased automatically by the network by rewarding newly minted bitcoins to users who contribute the computing power necessary to solve the difficult cryptographic problems required to produce the global transaction log. This process is called mining.</p>
        </div>
        </div>

        <div class="aboutOrange">
        <p class="about-miniHead">II. So Why Use bitcoin?</p>
        <div class="about-content">
        <p>Bitcoins can be used to buy merchandise anonymously. In addition, international payments are easy and cheap because bitcoins are not tied to any country or subject to regulation. Small businesses may like them because there are no credit card fees. Some people just buy bitcoins as an investment, hoping that they’ll go up in value.</p>
        </div>
        </div>
        <div class="aboutBlue">
        <p class="about-miniHead">III. How does one aquire a bitcoin?</p>
        <div class="about-content">
        <p>Buy on an Exchange Several marketplaces called “bitcoin exchanges” allow people to buy or sell bitcoins using different currencies. Mt. Gox is the largest bitcoin exchange.</p>
        </div>
        </div>
        <div class="aboutOrange">
        <p class="about-miniHead">IV. Transfers?</p>
        <div class="about-content">
        <p>People can send bitcoins to each other using mobile apps or their computers. It’s similar to sending cash digitally.</p>
        </div>
        </div>
        <div class="aboutBlue">
        <p class="about-miniHead">V. How do you own a bitCoin?</p>
        <div class="about-content">
        <p>Bitcoins are stored in a “digital wallet,” which exists either in the cloud or on a user’s computer. The wallet is a kind of virtual bank account that allows users to send or receive bitcoins, pay for goods or save their money. Unlike bank accounts, bitcoin wallets are not insured by the FDIC.</p>
        </div>
        </div>
        <div class="aboutOrange">
        <p class="about-miniHead">VI. Anonymity</p>
        <div class="about-content">
        <p>Though each bitcoin transaction is recorded in a public log, names of buyers and sellers are never revealed – only their wallet IDs. While that keeps bitcoin users’ transactions private, it also lets them buy or sell anything without easily tracing it back to them. That’s why it has become the currency of choice for people online buying drugs or other illicit activities.</p>
        </div>
        </div>
        <div class="aboutBlue">
        <p class="about-heading">Alright; bigger concepts..</p>
        </div>
        <div class="aboutOrange">
        <p class="about-miniHead">VII. What is bitcoin circulation?</p>
        <div class="about-content">
        <p>A fixed money supply, or a supply altered only in accord with objective and calculable criteria, is a necessary condition to a meaningful just price of money. —Fr. Bernard W. Dempsey, S.J. In a centralized economy, currency is issued by a central bank at a rate that is supposed to match the growth of the amount of goods that are exchanged so that these goods can be traded with stable prices. The monetary base is controlled by a central bank. In the United States, the Fed increases the monetary base by issuing currency, increasing the amount banks have on reserve, and more recently, printing money electronically in a process called Quantitative Easing. In a fully decentralized monetary system, there is no central authority that regulates the monetary base. Instead, currency is created by the nodes of a peer-to-peer network.</p>
        </div>
        </div>
        <div class="aboutBlue">
        <p class="about-miniHead">VIII. What is blockchain?</p>
        <div class="about-content">
        <p>The block chain is a public ledger that records bitcoin transactions. A novel solution accomplishes this without any trusted central authority: maintenance of the block chain is performed by a network of communicating nodes running bitcoin software. Transactions of the form payer X sends Y bitcoins to payee Z are broadcast to this network using readily available software applications. Network nodes can validate transactions, add them to their copy of the ledger, and then broadcast these ledger additions to other nodes. The block chain is a distributed database; in order to independently verify the chain of ownership of any and every bitcoin (amount), each network node stores its own copy of the block chain.</p>
        </div>
        </div>
        <div class="aboutOrange">
        <p class="about-miniHead">IX. What is Mining and Mining revenue?</p>
        <div class="about-content">
        <p>Bitcoin mining is the process by which transactions are verified and added to the public ledger, known as the block chain, and also the means through which new bitcoin are released. Anyone with access to the internet and suitable hardware can participate in mining. The mining process involves compiling recent transactions into blocks and trying to solve a computationally difficult puzzle. The participant who first solves the puzzle gets to place the next block on the block chain and claim the rewards. The rewards, which incentivize mining, are both the transaction fees associated with the transactions compiled in the block as well as newly released bitcoin.</p>
        </div>
        </div>
    </div>
    <div class="footer">
      <div class="footContainer">
        <div class="foot leftFoot">
          <div class="footerContent">
            <p class="footHead">
              quicklinks
            </p>
            <ul class="footUl">
              <li class="footLinks footLinks-left">
                <a ui-sref="artDashboard"><span class="smallCaps">b</span>lockchain</a>
              </li>
              <li class="footLinks footLinks-left">
                <a ui-sref="artDashboard"><span class="smallCaps">d</span>ashboard</a>
              </li>
              <li class="footLinks footLinks-left">
                <a ui-sref="whatIsBitcoin"><span class="smallCaps">a</span>bout</a>
              </li>
            </ul>
            <ul class="footUl">
              <li class="footLinks footLinks-left">
                <a ui-sref="login"><span class="smallCaps">l</span>ogin</a>
              </li>
              <li class="footLinks footLinks-left">
                <a ui-sref="register"><span class="smallCaps">r</span>egister</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="foot midFoot">
          <div class="footerContent">
            <p class="footHead">
              contact us
            </p>
            <ul class="footUl">
              <li class="footLinks footLinks-left">
                <span class="smallCaps">e</span>mail
              </li>
              <li class="footLinks footLinks-left">
                <span class="smallCaps"></span>
              </li>
              <li class="footLinks footLinks-left">
                <span class="smallCaps"></span>
              </li>
            </ul>
            <ul class="footUl">
              <li class="footLinks footEmail footLinks-left">
                btcurvedata@gmail.com
              </li>
            </ul>
          </div>
        </div>
        <div class="foot rightFoot">
          <div class="footerContent">
            <p class="footHead">
              stay connected
            </p>
            <ul class="footUl footUl-right">
              <li class="footLinks footLinks-left">
                <a href="http://github.com/bitcurve"><span class="smallCaps">g</span>it<span class="smallCaps">h</span>ub</a>
              </li>
              <li class="footLinks footLinks-left">
                <span class="smallCaps"></span>
              </li>
              <li class="footLinks footLinks-left">
                <span class="smallCaps"></span>
              </li>
            </ul>
            <ul class="footUl">
              <li class="footLinks footLinks-left">
                <a href="http://github.com/bitcurve"><img class="smallGuy" src="../images/github-logo-light.png"></a>
              </li>
              <li class="footLinks footLinks-left">
                <span class="smallCaps"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>